*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

header{
    background-image: url('images/10.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
    color: aliceblue;
}

.overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.65);
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

/* body{
    background-image: radial-gradient(rgba(28, 27, 27, 0.8), rgba(26, 27, 24, 0.9)), url('images/6.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgba(218, 207, 207, 0.379);
} */

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 15px;
}

nav li span{
    padding-left: 5px;
}

li a{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.cart ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a{
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    margin: 50px 50px 50px 50px;
}

.image{
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.image a{
    color: rgb(255, 255, 255);
}

.add-cart{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.823);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7,
.image:hover .cart8,
.image:hover .cart9,
.image:hover .cart10,
.image:hover .cart11,
.image:hover .cart12,
.image:hover .cart13,
.image:hover .cart14,
.image:hover .cart15,
.image:hover .cart16,
.image:hover .cart17,
.image:hover .cart18,
.image:hover .cart19,
.image:hover .cart20{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}


/*---------- CART PAGE -----------*/

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon{
    font-size: 30px;
    color: blue;
    margin-left: -100px;
    margin-right: 20px;
    cursor: pointer;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}
.product-title{
    width: 45%;
}
.price{
    width: 15%;
    display: flex;
    align-items: center;
}
.quantity{
    width: 30%;
    display: flex;
    align-items: center;
}
.quant{
    display: inline-flex;
    position: absolute;
    left: 63.5vw;
    margin-top: -8vh;

}
.total{
    width: 10%;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

/* .products{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}
.product img{
    width:75px;
} */
.basketTotalContainer{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}